body {
    background-color: rgb(199, 197, 193);
    
}
.center {
    background-color: antiquewhite;
    margin: auto;
			width: 50%;
			padding: 10px;
			border: 2px solid black;
            font-style: italic;
            text-align: center;
}
legend{
     font-style:unset;
}
.hp {
    background-color: rgb(144, 142, 214);
    margin: auto;
    width: 50%;
    padding: 10px;
    border: 2px solid black;
    text-align: center;
}